.text-container{
    background-color: #0303035c;
    color: white;
    min-height: 100vh;
}
.container-personal{
    background-position: top;
    background-repeat: no-repeat;
    background-color: ghostwhite;
}
.info-top-row, .info-bottom-row{
    display: flex;
}
.edit:hover{
    color:greenyellow;
}
.back:hover{
    color: darkred;
}