*{
    margin: 0 auto;
}
.container-personal{
    margin-top: 60px;
}
.film-container{
    margin-bottom: 20px;
}
.card-img-top{
    margin-top: 15px;
    border: 1px solid black;
}
.rating{
    display: flex;
}