<div class="container-personal" style="width: 100%; margin-top: 30px;">
  <h3>Our last films added:</h3>
    <div class="row">
      <div class="card col-3 film-container" *ngFor="let film of lastFilms" style="margin-bottom: 10px">
        <img src="{{film.cover_url}}" class="card-img-top" alt="" style="height: 65%;">
        <h3>{{film.title}}</h3>
        <p>{{film.description}}</p>
        <p>{{film.vote}}</p>
      </div>
    </div>
    <h3>Out best films:</h3>
    <div class="row">
        <div class="card col-3 film-container" *ngFor="let film of bestFilms" style="margin-bottom: 10px">
          <img src="{{film.cover_url}}" class="card-img-top" alt="" style="height: 65%;">
          <h3>{{film.title}}</h3>
          <p>{{film.description}}</p>
          <p>{{film.vote}}</p>
        </div>
      </div>
</div>