<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Netflix</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="d-flex collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" routerLink="dashboard">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="films/film-list">Films</a>
    		</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="genres/genre-list">Genres</a>
    		</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="actors/actor-list">Actors</a>
    		</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="actors/add-actor">add-actor</a>
    		</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="genres/add-genre">add-genre</a>
    		</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="films/add-film">add-film</a>
    		</li>
    		<li class="nav-item dropdown">
        		<a class="nav-link dropdown-toggle" id="navbarAddDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Add</a>
				<ul class="dropdown-menu" aria-labelledby="navbarAddDropdown">
					<li><a class="dropdown-item" routerLink="actors/add-actor">Actor</a></li>
					<li><a class="dropdown-item" routerLink="genres/add-genre">Genre</a></li>
					<li><a class="dropdown-item" routerLink="films/add-film">Film</a></li>
				</ul>
      		</li>
    		<li class="nav-item">
     	 		<button class="btn btn-outline-light" (click)= 'logOut()'>Log Out</button>
    		</li>
		</ul>
	</div>
</nav>
