<div class="container-personal" style="margin-top: 30px;">
    <form method="POST">
      <label for="name" class="form-label">Name:</label><br>
      <input type="text" class="form-control" name="name" [(ngModel)]="genre.name"><br><br>
      <label for="image_url" class="form-label">Image url:</label><br>
      <input type="text" class="form-control" name="image_url" [(ngModel)]="genre.image_url"><br><br>
      <label for="films" class="form-label film-label">Films:</label><br>
      <div id="filmsForm" class="row buttons-to-select">
        <button *ngFor="let film of films"class="btn button-to-select" [ngClass]="film.selected?'btn-dark':'btn-light'" name="add-film" (click)="addFilm(film.id)">{{film.title}}</button>
      </div>
      <div class="icons-row">
        <div class="icons-container">
          <fa-icon [icon]="faPencil" class="pencil" size="2x" name="edit-genre" (click)="edit()"></fa-icon>
          <fa-icon [icon]="faTrash" class="trash" size="2x" name="remove-genre" (click)="remove()"></fa-icon>
          <fa-icon [icon]="faBack" class="back" [routerLink]="['/genres/genre-list/']" size="2x"></fa-icon>
        </div>
      </div>
    </form>
  </div>
