<div class="container" style="margin-top: 30px;">
    <form method="POST">
      <label for="title" class="form-label">Title:</label><br>
      <input type="text" class="form-control col-4" name="title" [(ngModel)]="film.title"><br><br>
      <label for="description" class="form-label">Description:</label><br>
      <input type="text" class="form-control col-4" name="description" [(ngModel)]="film.description"><br><br>
      <label for="plot" class="form-label">Plot:</label><br>
      <input type="text" class="form-control col-4" name="plot" [(ngModel)]="film.plot"><br><br>
      <label for="director" class="form-label">Director:</label><br>
      <input type="text" class="form-control col-4" name="director" [(ngModel)]="film.director"><br><br>
      <label for="duration" class="form-label">Duration:</label><br>
      <input type="time" class="form-control col-4" name="duration" [(ngModel)]="film.duration"><br><br>
      <label for="release_year" class="form-label">Release year:</label><br>
      <input type="number" class="form-control col-4" name="release_year" [(ngModel)]="film.release_year"><br><br>
      <label for="cover_url" class="form-label">Cover url:</label><br>
      <input type="text" class="form-control col-4" name="cover_url" [(ngModel)]="film.cover_url"><br><br>
      <label for="tags" class="form-label">Tags:</label><br>
      <input type="text" class="form-control col-4" name="tags" [(ngModel)]="film.tags"><br><br>
      <label for="vote" class="form-label">Vote:</label><br>
      <input type="number" class="form-control col-4" name="vote" [(ngModel)]="film.vote"><br><br>
      <label for="actors" class="form-label">Actors:</label><br>
      <div id="actorsForm" class="row buttons-to-select">
        <button *ngFor="let actor of actors"class="btn button-to-select" [ngClass]="actor.selected?'btn-dark':'btn-light'" name="add-actor" (click)="addActor(actor.id)">{{actor.firstname}} {{actor.lastname}}</button>
      </div>
      <label for="genres" class="form-label">Genres:</label><br>
      <div id="genresForm" class="row buttons-to-select">
        <button *ngFor="let genre of genres" class="btn button-to-select" [ngClass]="genre.selected?'btn-dark':'btn-light'" name="add-genre" (click)="addGenre(genre.id)">{{genre.name}}</button>
      </div>
      <button class="btn btn-dark" name="edit-film" (click)="edit()">Edit Film</button>
      <button class="btn btn-dark" name="remove-film" (click)="remove()">Remove Film</button>
      <button class="btn btn-dark" [routerLink]="['/films/film-list/']">Cancel</button>
    </form>
  </div>
