<div class="container-personal">
    <button class="back-button btn btn-dark" [routerLink]="['/genres/genre-list']">Go back</button>
      <div class="row">
        <div class="card col-3 film-container" *ngFor="let film of films" [routerLink]="['/films/film-view/', film.id]">
          <div class="card-img-top" style="height: 65%;">
            <img src="{{film.cover_url}}" alt="" class="img-film">
          </div>
          <h4>{{film.title}}</h4>
          <p>{{film.description}}</p>
          <div class="rating">
            <p>{{film.vote}}</p>
            <ngb-rating (rateChange)="newVote($event, film)"></ngb-rating>
          </div>
          <div class="film-buttons">
            <button class="btn btn-dark" (click)="addToFavorites(film.id)">Add film to favorites</button>
            <button *ngIf="film.created_by== userId"class="btn btn-dark" [routerLink]="['/films/edit-film/', film.id]">Edit film</button>
          </div>
        </div>
      </div>
  </div>
