<div class="container-personal">
    <button class="back-button btn btn-dark" [routerLink]="['/genres/genre-list']">Go back</button>
      <div class="row">
        <div class="card col-3 film-container" *ngFor="let film of films" [routerLink]="['/films/film-view/', film.id]">
          <div class="card-img-top" style="height: 60%;">
            <img src="{{film.cover_url}}" alt="" class="img-film">
          </div>
          <h4>{{film.title}}</h4>
          <p>{{film.description}}</p>
          <div class="rating">
            <app-star-rating [vote]="film.vote" [canEdit]="true" class="votes"></app-star-rating>
          </div>
          <div class="film-buttons">
            <fa-icon [icon]="film.isFavorite?faHeart:faHeartEmpty" (click)="addToFavorites(film.id); $event.stopPropagation()" size="2x" class="heart"></fa-icon>
            <button *ngIf="film.created_by== userId"class="btn btn-dark" (click)="$event.stopPropagation()" [routerLink]="['/films/edit-film/', film.id]">Edit film</button>
          </div>
        </div>
      </div>
  </div>
