<div class="container-personal" style="width: 100%; margin-top: 30px;">
  <button class="add-button btn btn-dark" [routerLink]="['/actors/add-actor']">Add new actor</button>
    <div class="row">
      <div class="card col-3 actor-container" *ngFor="let actor of actors" style="margin-bottom: 10px">
        <img src="{{actor.photo_url}}" class="card-img-top" alt="" style="height: 65%;">
        <h3>{{actor.firstname}}{{actor.lastname}}</h3>
        <h5>{{actor.birthdate}}</h5>
        <p>{{actor.films}}</p>
        <div class="actor-buttons">
          <button class="btn btn-dark" (click)="addToFavorites(actor.id)">Add actor to favorites</button>
          <button *ngIf="actor.created_by== userId" class="btn btn-dark" [routerLink]="['/actors/edit-actor/', actor.id]">Edit Actor</button>
          <button class="btn btn-dark" [routerLink]="['/actors/actor-film-list/', actor.id]">Go to films</button>
        </div>
      </div>
    </div>
</div>
