*{
    margin: 0 auto;
}
.container-personal{
    margin-top: 60px;
}
.card{
    height: 100vh;
}
.card-img-top{
    margin-top: 15px;
    border: 1px solid black;
}
.actor-container{
    margin-bottom: 20px;
    height: 65vh;
}
.top-plus-icon{
    margin-bottom: 20px;
}
.plus{
    position: relative;
    left: calc(50% - 0.85rem);
}
.edit{
    margin-left: 15px;
}
.heart:hover{
    color: red;
}
.edit:hover, .plus:hover{
    color:greenyellow;
}
.film-list:hover{
    color: darkorange;
}
.actor-icons{
    width:calc(100% - 30px);
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 15px;
    margin: 0;
}
.left-icons, .right-icons{
    margin: 0;
}