*{
    margin: 0 auto;
}
.container-personal{
    margin-top: 60px;
}
.card-img-top{
    margin-top: 15px;
    border: 1px solid black;
}
.actor-buttons{
    display: flex;
    position: absolute;
    bottom: 15px;
    justify-content: space-around;
}
.actor-container{
    margin-bottom: 20px;
    height: 65vh;
}
.add-button{
    width: 10%;
    position: relative;
    left: 45%;
    margin-bottom: 10px;
}