<div class="container-personal">
    <form method="POST">
      <label for="username" class="form-label">Username: </label><br>
      <input type="text" class="form-control" name="username" [(ngModel)]="user.username"><br><br>
      <label for="firstname" class="form-label">firstname: </label><br>
      <input type="text" class="form-control" name="firstname" [(ngModel)]="user.firstname"><br><br>
      <label for="lastname" class="form-label">lastname: </label><br>
      <input type="text" class="form-control" name="lastname" [(ngModel)]="user.lastname"><br><br>
      <label for="photo_url" class="form-label">Photo url: </label><br>
      <input type="text" class="form-control" name="photo_url" [(ngModel)]="user.photo_url"><br><br>
      <label for="birthdate" class="form-label">birthdate: </label><br>
      <input type="date" class="form-control" name="birthdate" [(ngModel)]="user.birthdate"><br><br>
      <label for="password" class="form-label">Password:</label><br>
      <input type="password" class="form-control" name="password" [(ngModel)]="user.password"><br><br>
      <label for="passwordCheck" class="form-label">Repete password:</label><br>
      <input type="password" class="form-control" name="passwordCheck" [(ngModel)]="passwordCheck"><br><br>
      <div class="icons-row">
        <div class="icons-container">
            <fa-icon [icon]="faPencil" class="pencil" size="2x" name="edit" (click)="edit()"></fa-icon>
            <fa-icon [icon]="faBack" class="back" size="2x" [routerLink]="['/dashboard']"></fa-icon>
        </div>
      </div>
    </form>
  </div>
